::-webkit-scrollbar {
  width: 4px;
  padding-right: 9px;
}

::-webkit-scrollbar:horizontal {
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  color: #ffa800;
  background: #ffa800;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.markets-list {
  font-size: 12px;
  color: #666;
}

.markets-list span {
  display: inline-block;
  vertical-align: top;
  height: 66px;
  line-height: 66px;
  margin-right: 27px;
}